body {
  background-color:rgb(0, 0, 0); 
   font-family: "Poppins", sans-serif;
   color: rgb(247, 243, 243);
  
 }
 
 a {
   text-decoration: none;
   color: #fcff3b;
 }
 
 a:hover {
   color: #ffc56e;
   text-decoration: none;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: "Satisfy", sans-serif; 
 }
 
 .max-width-container{
   max-width: 1440px;
   margin: 0 auto;
 }
 .buttom.menu {
   background-color: #c50a0a;
 }

 .back-to-top {
   position: fixed;
   visibility: hidden;
   opacity: 0;
   right: 15px;
   bottom: 15px;
   z-index: 996;
   background: #ffb03b;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   transition: all 0.4s;
 }
 
 .back-to-top i {
   font-size: 28px;
   color: #fff;
   line-height: 0;
 }
 
 .back-to-top:hover {
   background: #eeebe7;
   color: #fff;
 }
 
 .back-to-top.active {
   visibility: visible;
   opacity: 1;
 }
 
 #topbar {
   padding: 0;
   font-size: 15px;
   height: 50px;
   transition: all 0.5s;
   background: rgba(238, 122, 6, 0.8);
   z-index: 996;
   color: rgba(255, 255, 255, 0.7);
 }
 
 #topbar.topbar-transparent {
   background: transparent;
 }
 
 #topbar.topbar-scrolled {
   top: -50px;
 }
 
 #topbar i {
   color: #e90ed3;
   line-height: 0;
 }
 
 #topbar i span {
   color: #fff;
   font-style: normal;
   padding-left: 5px;
 }
 

 #header {
   top: 50px;
   height: 70px;
   z-index: 997;
   transition: all 0.5s;
   padding: 10px 0;
   background: rgba(231, 119, 7, 0.85);
 }
 
 #header.header-transparent {
   background: transparent;
 }
 
 #header.header-scrolled {
   top: 0;
   background: rgba(156, 80, 3, 0.85);
 }
 
 #header .logo h1 {
   font-size: 28px;
   margin: 0;
   line-height: 1;
   font-weight: 400;
   letter-spacing: 3px;
 }
 
 #header .logo h1 a,
 #header .logo h1 a:hover {
   color: #fff;
   text-decoration: none;
 }
 
 #header .logo img {
   padding: 0;
   margin: 0;
   max-height: 40px;
 }
 

 .book-a-table-btn {
   background: #ffb03b;
   color: #fff;
   border-radius: 50px;
   margin: 0 0 0 20px;
   padding: 10px 25px;
   font-size: 13px;
   font-weight: 500;
   letter-spacing: 1px;
   transition: 0.3s;
   white-space: nowrap;
 }
 
 .book-a-table-btn:hover {
   background: #ffa012;
   color: #fff;
 }
 
 @media (max-width: 992px) {
   .book-a-table-btn {
     margin: 0 15px 0 0;
     padding: 8px 20px;
     letter-spacing: 1px;
   }
 }
 
 @media (max-width: 400px) {
   .book-a-table-btn {
     display: none;
   }
 } 
 

 #navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}


#navbar ul li {
  border: 0.5px solid #100303;
  padding: 2.4px;
  margin: 5px;
  border-radius: 50px;
  background-color: #e7bab2;
}


.nav-link {
  text-decoration: none;
  color: #333;
}
 .navbar {
   padding: 0;
 }
 
 .navbar ul {
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
   align-items: center;
 }
 
 .navbar li {
   position: relative;
 }
 

 
 .navbar a:hover,
 .navbar .active,
 .navbar .active:focus,
 .navbar li:hover>a {
   color: #ffb03b;
 }
 
 .navbar .dropdown ul {
   display: block;
   position: absolute;
   left: 89px;
   top: calc(100% + 30px);
   margin: 0;
   padding: 10px 0;
   z-index: 99;
   opacity: 0;
   visibility: hidden;
   background: #fff;
   box-shadow: 0px 0px 30px rgba(3, 76, 245, 0.25);
   transition: 0.3s;
   border-radius: 4px;
 }
 
 .navbar .dropdown ul li {
   min-width: 200px;
 }
 
 .navbar .dropdown ul a {
   padding: 10px 20px;
   font-size: 14px;
   font-weight: 400;
   color: #433f39;
 }
 
 .navbar .dropdown ul a i {
   font-size: 12px;
 }
 
 .navbar .dropdown ul a:hover,
 .navbar .dropdown ul .active:hover,
 .navbar .dropdown ul li:hover>a {
   color: #ff3bdb;
 }
 
 .navbar .dropdown:hover>ul {
   opacity: 1;
   top: 100%;
   visibility: visible;
 }
 
 .navbar .dropdown .dropdown ul {
   top: 0;
   left: calc(100% - 30px);
   visibility: hidden;
 }
 
 .navbar .dropdown .dropdown:hover>ul {
   opacity: 1;
   top: 0;
   left: 100%;
   visibility: visible;
 }
 
 @media (max-width: 1366px) {
   .navbar .dropdown .dropdown ul {
     left: -90%;
   }
 
   .navbar .dropdown .dropdown:hover>ul {
     left: -100%;
   }
 }
 

 .mobile-nav-toggle {
   color: #fff;
   font-size: 28px;
   cursor: pointer;
   display: none;
   line-height: 0;
   transition: 0.5s;
 }
 
 @media (max-width: 991px) {
   .mobile-nav-toggle {
     display: block;
   }
 
   .navbar ul {
     display: none;
   }
 }
 
 .navbar-mobile {
   position: fixed;
   overflow: hidden;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(248, 151, 5, 0.9);
   transition: 0.3s;
   z-index: 0;
 }
 
 .navbar-mobile .mobile-nav-toggle {
   position: absolute;
   top: 15px;
   right: 15px;
 }
 
 .navbar-mobile ul {
   display: block;
   position: absolute;
   top: 55px;
   right: 15px;
   bottom: 15px;
   left: 15px;
   padding: 10px 0;
   border-radius: 8px;
   background-color: #fff;
   overflow-y: auto;
   transition: 0.3s;
 }
 
 .navbar-mobile a,
 .navbar-mobile a:focus {
   padding: 10px 20px;
   font-size: 15px;
   color: #433f39;
 }
 
 .navbar-mobile a:hover,
 .navbar-mobile .active,
 .navbar-mobile li:hover>a {
   color: #ff4f3b;
 }
 
 .navbar-mobile .getstarted,
 .navbar-mobile .getstarted:focus {
   margin: 15px;
 }
 
 .navbar-mobile .dropdown ul {
   position: static;
   display: none;
   margin: 10px 20px;
   padding: 10px 0;
   z-index: 99;
   opacity: 1;
   visibility: visible;
   background: #fa0505;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
 }
 
 .navbar-mobile .dropdown ul li {
   min-width: 200px;
 }
 
 .navbar-mobile .dropdown ul a {
   padding: 10px 20px;
 }
 
 .navbar-mobile .dropdown ul a i {
   font-size: 12px;
 }
 
 .navbar-mobile .dropdown ul a:hover,
 .navbar-mobile .dropdown ul .active:hover,
 .navbar-mobile .dropdown ul li:hover>a {
   color: #ffb03b;
 }
 
 .navbar-mobile .dropdown>.dropdown-active {
   display: block;
 }
 
 
 #hero {
   width: 100%;
   height: 100vh;
   background-color: #dacdbc;
   overflow: hidden;
   padding: 0;
 }
 
 #hero .carousel-item {
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 
 #hero .carousel-item::before {
   content: "";
 
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
 }
 
 #hero .carousel-container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
 }
 
 #hero .carousel-content {
   text-align: center;
 }
 
 #hero h2 {
   color: #fff;
   margin-bottom: 30px;
   font-size: 48px;
   font-weight: 700;
 }
 
 #hero h2 span {
   color: #ffb03b;
 }
 
 #hero p {
   width: 80%;
   -webkit-animation-delay: 0.4s;
   animation-delay: 0.4s;
   margin: 0 auto 30px auto;
   color: #fff;
 }
 
 #hero .carousel-inner .carousel-item {
   transition-property: opacity;
   background-position: center ;
 }
 
 #hero .carousel-inner .carousel-item,
 #hero .carousel-inner .active.carousel-item-start,
 #hero .carousel-inner .active.carousel-item-end {
   opacity: 0;
 }
 
 #hero .carousel-inner .active,
 #hero .carousel-inner .carousel-item-next.carousel-item-start,
 #hero .carousel-inner .carousel-item-prev.carousel-item-end {
   opacity: 1;
   transition: 0.5s;
 }
 
 #hero .carousel-inner .carousel-item-next,
 #hero .carousel-inner .carousel-item-prev,
 #hero .carousel-inner .active.carousel-item-start,
 #hero .carousel-inner .active.carousel-item-end {
   left: 0;
   transform: translate3d(0, 0, 0);
 }
 
 #hero .carousel-control-next-icon,
 #hero .carousel-control-prev-icon {
   background: none;
   font-size: 30px;
   line-height: 0;
   width: auto;
   height: auto;
   background: rgba(249, 3, 3, 0.2);
   border-radius: 50px;
   transition: 0.3s;
   color: rgba(15, 15, 15, 0.5);
   width: 54px;
   height: 54px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 #hero .carousel-control-next-icon:hover,
 #hero .carousel-control-prev-icon:hover {
   background: rgba(242, 5, 5, 0.3);
   color: rgba(255, 255, 255, 0.8);
 }
 
 #hero .carousel-indicators li {
   cursor: pointer;
 }
 
 #hero .btn-menu,
 #hero .btn-book {
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 1px;
   text-transform: uppercase;
   display: inline-block;
   padding: 12px 30px;
   border-radius: 50px;
   transition: 0.5s;
   line-height: 1;
   margin: 0 10px;
   -webkit-animation-delay: 0.8s;
   animation-delay: 0.8s;
   color: #fff;
   border: 2px solid #ffb03b;
 }
 
 #hero .btn-menu:hover,
 #hero .btn-book:hover {
   background: #ffb03b;
   color: #fff;
 }
 
 @media (max-width: 768px) {
   #hero h2 {
     font-size: 28px;
   }
 }
 
 @media (min-width: 1024px) {
   #hero p {
     width: 50%;
   }
 
   #hero .carousel-control-prev,
   #hero .carousel-control-next {
     width: 5%;
   }
 }
 

 section {
   padding: 60px 0;
 }
 
 .section-bg {
   background-color: white;
 }
 
 .section-title {
   text-align: center;
   padding-bottom: 30px;
 }
 
 .section-title h2 {
   margin: 15px 0 0 0;
   font-size: 32px;
   font-weight: 700;
   color: #5f5950;
 }
 
 .section-title h2 span {
   color: #f4f0f3;
 }
 
 .section-title p {
   margin: 15px auto 0 auto;
   font-weight: 300;
 }
 
 @media (min-width: 1024px) {
   .section-title p {
     width: 50%;
   }
 }
 

 .breadcrumbs {
   padding: 20px 0;
   background-color: #f2f1ef;
   min-height: 40px;
   margin-top: 120px;
 }
 
 @media (max-width: 992px) {
   .breadcrumbs {
     margin-top: 70px;
   }
 }
 
 .breadcrumbs h2 {
   font-size: 24px;
   font-weight: 300;
   margin: 0;
 }
 
 @media (max-width: 992px) {
   .breadcrumbs h2 {
     margin: 0 0 10px 0;
   }
 }
 
 .breadcrumbs ol {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 14px;
 }
 
 .breadcrumbs ol li+li {
   padding-left: 10px;
 }
 
 .breadcrumbs ol li+li::before {
   display: inline-block;
   padding-right: 10px;
   color: #6c757d;
   content: "/";
 }
 
 @media (max-width: 768px) {
   .breadcrumbs .d-flex {
     display: block !important;
   }
 
   .breadcrumbs ol {
     display: block;
   }
 
   .breadcrumbs ol li {
     display: inline-block;
   }
 }
 

 .about {
   background: linear-gradient(to bottom, rgb(21, 20, 20),rgb(15, 15, 15));
 }
 
 .about .content {
   padding: 0 80px;
 }
 
 .about .content h3 {
   font-weight: 400;
   font-size: 34px;
   color: #0d0d0d;
 }
 
 .about .content h4 {
   font-size: 20px;
   font-weight: 700;
   margin-top: 5px;
 }
 
 .about .content p {
   font-size: 15px;
   color: #0b0a0a;
   text-align: justify;
 }
 
 .about .content ul {
   list-style: none;
   padding: 0;
 }
 
 .about .content ul li+li {
   margin-top: 15px;
 }
 
 .about .content ul li {
   position: relative;
   padding-left: 26px;
 }
 
 .about .content ul i {
   font-size: 20px;
   color: #ffb03b;
   position: absolute;
   left: 0;
   top: 2px;
 }
 
 .about .content p:last-child {
   margin-bottom: 0;
 }
 
 .about .video-box {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   min-height: 400px;
   position: relative;
 
 }
 .about .video-box video {
 position: relative;
 box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
 border-radius: 5%;
 margin: 0px auto;
 display: block;
 background: white;
 border: 9px;
 }
 
 .about .play-btn {
   width: 94px;
   height: 94px;
   background: radial-gradient(#ffb03b 50%, rgb(235, 234, 232) 52%);
   border-radius: 50%;
   display: block;
   position: absolute;
   left: calc(50% - 47px);
   top: calc(50% - 47px);
   overflow: hidden;
 }
 
 .about .play-btn::after {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-40%) translateY(-50%);
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-left: 15px solid #fff;
   z-index: 100;
   transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
 }
 
 .about .play-btn::before {
   content: "";
   position: absolute;
   width: 120px;
   height: 120px;
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
   -webkit-animation: pulsate-btn 2s;
   animation: pulsate-btn 2s;
   -webkit-animation-direction: forwards;
   animation-direction: forwards;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   -webkit-animation-timing-function: steps;
   animation-timing-function: steps;
   opacity: 1;
   border-radius: 50%;
   border: 5px solid rgba(255, 176, 59, 0.7);
   top: -15%;
   left: -15%;
   background: rgba(235, 226, 226, 0.951);
 }
 
 .about .play-btn:hover::after {
   border-left: 15px solid #ffb03b;
   transform: scale(20);
 }
 
 .about .play-btn:hover::before {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-40%) translateY(-50%);
   width: 0;
   height: 0;
   border: none;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-left: 15px solid #fff;
   z-index: 200;
   -webkit-animation: none;
   animation: none;
   border-radius: 0;
 }
 
 @media (max-width: 1024px) {
 
   .about .content,
   .about .accordion-list {
     padding: 0 16px;
   }
 }
 
 @media (max-width: 992px) {
   .about .content {
     padding-top: 60px;
   }
 
   .about .accordion-list {
     padding-bottom: 30px;
   }
 }
 
 @-webkit-keyframes pulsate-btn {
   0% {
     transform: scale(0.6, 0.6);
     opacity: 1;
   }
 
   100% {
     transform: scale(1, 1);
     opacity: 0;
   }
 }
 
 @keyframes pulsate-btn {
   0% {
     transform: scale(0.6, 0.6);
     opacity: 1;
   }
 
   100% {
     transform: scale(1, 1);
     opacity: 0;
   }
 }
  
 
 .menu #menu-flters {
   
  
   padding: 0;
   margin: 0 auto 0 auto;
   list-style: none;
   text-align: center;
   border-radius: 50px;
  
 }
 
 .menu #menu-flters li {
   cursor: pointer;
   display: inline-block;
   padding: 8px 12px 10px 12px;
   font-size: 16px;
   font-weight: 500;
   line-height: 1;
   color: #fcf8f8;
   margin-bottom: 10px;
   transition: all ease-in-out 0.3s;
   border-radius: 50px;
   font-family: "Poppins", serif;
   
 }
 
 .menu #menu-flters li:hover,
 .menu #menu-flters li.filter-active {
   color: #000000;
   background: rgb(250, 152, 5);
 }
 
 .menu #menu-flters li:last-child {
   margin-right: 0;
 }
 
 .menu .menu-img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   float: left;
   border: 5px solid rgba(196, 35, 35, 0.1);
 }
 
 .menu .menu-content {
   overflow: hidden;
   display: flex;
   justify-content: space-between;
   position: relative;
   width: 100%;
 
 }
 
 .menu .menu-content::after {
   content: "......................................................................""....................................................................""....................................................................";
   position: absolute;
   left: 20px;
   right: 0;
   top: -4px;
   z-index: 1;
   color: #f5f5ef;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 }
 
 .menu .menu-content a {
   padding-right: 10px;
   background: #0f0b0b;
   position: relative;
   z-index: 3;
   font-weight: 700;
   color: #f7f2f2;
 }
 
 .menu .menu-content span {
   background: #0e0d0c;
   position: relative;
   z-index: 3;
   padding: 0 10px;
   font-weight: 600;
 }
 
 .menu .menu-ingredients {
   font-style: italic;
   font-size: 14px;
   font-family: "Comic Neue", sans-serif;
   color: #000000;
 }
 
 .menu .menu-item-details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
 
 }
 .menu .menu-item {
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 16px 0;
 }
 .menu-card .badge {
   background-color:rgb(243, 8, 8) 
 }
 .menu .view all menu {
   background-color: #c50a0a;
 
 }

 .events {
   background: url(./assets/img/events/events-bg.jpg) no-repeat;
   background-position: center center;
   background-size: cover;
   position: relative;
 }
 
 .events::before {
   content: "";
   background-color: rgba(0, 0, 0, 0.8);
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
 }
 
 .events .section-title h2 {
   color: #fff;
 }
 
 .events .swiper-container {
   position: relative;
   background: rgba(255, 255, 255, 0.08);
   box-shadow: #7c7975 0px 3px 8px;
 
 }
 
 @media (min-width: 1024px) {
   .events {
     background-attachment: fixed;
   }
 }
 
 .events .swiper-container {
   overflow: hidden;
   width: 90%;
   height: 100%;
 }
 
 .events .swiper-wrapper {
   display:flex;
   width: 100%;
   height: 100%;
 }
 
 .events .swiper-slide {
   flex-shrink: 0;
   width: 100%;
   height: 100%;
 }
 
 .events .event-item {
   color: #fff;
   width: 95%;
   margin: 0 auto;
 }
 
 
 .events .event-item h3 {
   font-weight: 600;
   font-size: 26px;
   color: #ffb03b;
   margin-top: 32px;
 }
 
 .events .event-item .price {
   font-size: 26px;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   margin-bottom: 15px;
 }
 
 .events .event-item .price span {
   border-bottom: 2px solid #ffb03b;
 }
 
 .events .event-item ul {
   list-style: none;
   padding: 0;
 }
 
 .events .event-item ul li {
   padding-bottom: 10px;
 }
 
 .events .event-item ul i {
   font-size: 20px;
   padding-right: 4px;
   color: #ffb03b;
 }
 
 .events .event-item p:last-child {
   margin-bottom: 0;
 }
 
 .events .event-item .content p {
   text-align: justify;
 }
 
 .events .event-item .img-fluid {
   box-shadow: #ffb03b 0px 3px 8px;
   border-radius: 5%;
   margin: auto 0px;
   width: 480px;
   height: 280px;
   
 }
 
 .events .swiper-pagination {
   margin-top: 20px;
   position: relative;
 }
 
 .events .swiper-pagination .swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background-color: rgba(255, 255, 255, 0.5);
   opacity: 1;
 }
 
 .events .swiper-pagination .swiper-pagination-bullet-active {
   background-color: #ffb03b;
 }

 .book-a-table .email-form {
   width: 100%;
   box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
   padding: 30px;
   background: black;
   background-image: black;
 }
 
 .book-a-table .email-form .form-group {
   padding-bottom: 8px;
 }
 
 .book-a-table .email-form .validate {
   display: none;
   color: red;
   margin: 0 0 15px 0;
   font-weight: 400;
   font-size: 13px;
 }
 
 .book-a-table .email-form .error-message {
   display: none;
   color: #fff;
   background: #ed3c0d;
   text-align: left;
   padding: 15px;
   font-weight: 600;
 }
 
 .book-a-table .email-form .error-message br+br {
   margin-top: 25px;
 }
 
 .book-a-table .email-form .sent-message {
   display: none;
   color: #fff;
   background: #18d26e;
   text-align: center;
   padding: 15px;
   font-weight: 600;
 }
 
 .book-a-table .email-form .loading {
   display: none;
   background: #fff;
   text-align: center;
   padding: 15px;
 }
 
 .book-a-table .email-form .loading:before {
   content: "";
   display: inline-block;
   border-radius: 50%;
   width: 24px;
   height: 24px;
   margin: 0 10px -6px 0;
   border: 3px solid #18d26e;
   border-top-color: #eee;
   -webkit-animation: animate-loading 1s linear infinite;
   animation: animate-loading 1s linear infinite;
 }
 
 .book-a-table .email-form input,
 .book-a-table .email-form textarea {
   border-radius: 0;
   box-shadow: none;
   font-size: 14px;
 }
 
 .book-a-table .email-form input {
   height: 44px;
 }
 
 .book-a-table .email-form textarea {
   padding: 10px 12px;
 }
 
 .book-a-table .email-form button[type=reset] {
   background: #ffb03b;
   border: 0;
   padding: 10px 24px;
   color: #fff;
   transition: 0.4s;
   border-radius: 50px;
 }
 
 .book-a-table .email-form button[type=reset]:hover {
   background: #e70d73;
 }
 
 
 .features .section-title { margin-block-end: 40px; }
 
 .feature-card { padding: 30px 20px 40px; 
 background-color: #c50a0a;}
 
 .feature-item:nth-child(2n+1) .feature-card { background-color: var(--eerie-black-3); }
 
 .feature-item:nth-child(2n) .feature-card { background-color: var(--smoky-black-3); }
 
 .feature-card .card-icon {
 max-width: max-content;
 margin-inline: auto;
 transition: var(--transition-2);
 }
 
 .feature-card:hover .card-icon { transform: scale(-1) rotate(180deg); }
 
 .feature-card .card-title { margin-block: 20px; }
 
 .feature-card .card-text {
 color: var(--quick-silver);
 line-height: var(--lineHeight-6);
 }

 
 .gallery {
   padding-bottom: 80px;
 }
 
 .gallery .gallery-item {
   overflow: hidden;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   border: groove 0.5em rgb(238, 177, 8);
   border-radius: 5em;
   
 }
 
 .gallery .gallery-item img {
   transition: all ease-in-out 0.4s;
   
 }
 
 .gallery .gallery-item:hover img {
   transform: scale(1.1);
 }

 .testimonials {
   padding: 80px 0;
   background: url("https://www.kemetexperience.com/wp-content/uploads/2022/05/IMG_2133.jpg") no-repeat;
   background-position: center center;
   background-size: cover;
   position: relative;
 }
 
 .testimonials::before {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background: rgba(27, 27, 27, 0.7);
 }
 
 .testimonials .section-header {
   margin-bottom: 40px;
 }
 
 .testimonials .testimonials-carousel,
 .testimonials .testimonials-slider {
   overflow: hidden;
 }
 
 .testimonials .testimonial-item {
   text-align: center;
   color: #fff;
 }
 
 .testimonials .testimonial-item .testimonial-img {
   width: 100px;
   border-radius: 50%;
   border: 6px solid rgb(242, 3, 3);
   margin: 0 auto;
 }
 
 .testimonials .testimonial-item h3 {
   font-size: 20px;
   font-weight: bold;
   margin: 10px 0 5px 0;
   color: #fff;
   font-family: "Poppins", sans-serif;
 }
 
 .testimonials .testimonial-item h4 {
   font-size: 14px;
   color: #ddd;
   margin: 0 0 15px 0;
   font-family: "Comic Neue", sans-serif;
 }
 
 .testimonials .testimonial-item .stars {
   color: #ffb03b;
   margin-bottom: 10px;
 }
 
 .testimonials .testimonial-item .quote-icon-left,
 .testimonials .testimonial-item .quote-icon-right {
   color: rgba(255, 255, 255, 0.4);
   font-size: 26px;
 }
 
 .testimonials .testimonial-item .quote-icon-left {
   display: inline-block;
   left: -5px;
   position: relative;
 }
 
 .testimonials .testimonial-item .quote-icon-right {
   display: inline-block;
   right: -5px;
   position: relative;
   top: 10px;
 }
 
 .testimonials .testimonial-item p {
   font-style: italic;
   margin: 0 auto 15px auto;
   color: #eee;
 }
 
 .testimonials .swiper-pagination {
   margin-top: 20px;
   position: relative;
 }
 
 .testimonials .swiper-pagination .swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background-color: rgba(236, 7, 7, 0.5);
   opacity: 1;
 }
 
 .testimonials .swiper-pagination .swiper-pagination-bullet-active {
   background-color: #fd061f;
 }
 
 @media (min-width: 992px) {
   .testimonials .testimonial-item p {
     width: 80%;
   }
 }
 
 @-webkit-keyframes animate-loading {
   0% {
     transform: rotate(0deg);
   }
 
   100% {
     transform: rotate(360deg);
   }
 }
 
 @keyframes animate-loading {
   0% {
     transform: rotate(0deg);
   }
 
   100% {
     transform: rotate(360deg);
   }
 }
  
 
    .features .grid-list { grid-template-columns: repeat(4, 1fr); }

 @media (min-width: 1400px) {

   .navbar { margin-inline: auto; }
 
   .about-content { padding-inline-end: 90px; }
 
   .about .shape {
     display: block;
     top: 46%;
     left: 0;
   }
 }
 
   .special-dish {
     overflow: visible;
     position: relative;
   }
 
   .special-dish .shape {
     display: block;
     right: 0;
     z-index: 1;
   }
 
   .special-dish .shape-1 { top: 45%; }
 
   .special-dish .shape-2 {
     bottom: 0;
     transform: translateY(50%);
     width: max-content;
   }
.features .section-title { margin-block-end: 40px; }
 
 .feature-card { padding: 30px 20px 40px; }
 
 .feature-item:nth-child(2n+1) .feature-card { background-color: var(--eerie-black-3); }
 
 .feature-item:nth-child(2n) .feature-card { background-color: var(--smoky-black-3); }
 
 .feature-card .card-icon {
   max-width: max-content;
   margin-inline: auto;
   transition: var(--transition-2);
 }
 
 .feature-card:hover .card-icon { transform: scale(-1) rotate(180deg); }
 
 .feature-card .card-title { margin-block: 20px; }
 
 .feature-card .card-text {
   color: var(--quick-silver);
   line-height: var(--lineHeight-6);
 }
 .grid-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 
 .feature-item {
   flex: 0 0 50%;
   max-width: 50%;
   padding: 20px;
 }
 
 @media (max-width: 768px) {
   .feature-item {
     flex: 0 0 100%;
     max-width: 100%;
   }
 }
 .invisible-color {
   color: rgb(253, 6, 6); 
 }
 .transparent-background {
   background-color: rgba(13, 13, 13, 0.938); 
   padding: 20px;
   transition: transform 0.9s ease, width 0.3s ease, height 0.3s ease;
 }

 .separator {
   height: 1px;
   background-color: #d758582d;
   margin: 10px 0;
 }
 
 .topbar-item {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #ffb03b;
 }
 
 .icon {
   margin-right: 5px;
   color:#f80b37 ;
 }
 
 .span {
   font-weight: bold;
 }
 
 
 .feature-card {
  transition: transform 0.3s;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.feature-card:hover {
  transform: scale(1.1);
}
.footer {
 background-color: rgba(227, 192, 192, 0.938);
}
.navbar ul {
  list-style: none;
  padding: 0;

}

.navbar li {
  display: inline-block;
  margin: 0 10px;
 
}

.nav-link {
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
 color: #101010;
}

.fade-in p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-color: rgba(12, 12, 12, 0.938);
}

.fade-in p.show {
  opacity: 1;
  transform: translateY(0);
  color: #eef2f0;
}

.contact-section {
  background-color: rgba(32, 30, 30, 0.8); 
  padding: 20px; 
  border-radius: 100px; 
}

